[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "dl/dl_oreily/book_code"]
	path = dl/dl_oreily/book_code
	url = https://github.com/jabeerahmed/handson-ml
[submodule "dl/tf_oreily"]
	path = dl/tf_oreily
	url = https://github.com/jabeerahmed/Oreilly-Learning-TensorFlow
[submodule "dl/udemy/machine_learning_examples"]
	path = dl/udemy/machine_learning_examples
	url = https://github.com/lazyprogrammer/machine_learning_examples
