[submodule "tensorflow"]
	path = tensorflow
	url = https://github.com/tensorflow/tensorflow.git
[submodule "dl/tf_oreily/book_code"]
	path = dl/tf_oreily/book_code
	url = https://github.com/ageron/handson-ml
